.cards {
  font-family: CabinetGrotesk-Medium, sans-serif;
}

.cards__text {
  max-height: 25px;
  font-weight: 700;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.cards__list {
  display: flex;
  gap: 21px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
