.footer {
  display: flex;
  justify-content: space-between;
  padding: 69px 0 8px;
  font-family: CabinetGrotesk-Medium, sans-serif;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto 24px;
  padding: 85px 20px 0;
}

.footer__title,
.footer__year {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
